@model Hooshyaran.Web.ViewModels.SeoMetadataViewModel

<title>@Model.Title</title>
<meta name="description" content="@Model.Description" />
<meta name="keywords" content="@Model.Keywords" />
<link rel="canonical" href="@Model.CanonicalPath" />
<meta property="og:title" content="@Model.Title" />
<meta property="og:description" content="@Model.Description" />
<meta property="og:type" content="website" />
